body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
  	color: black;
	font-size: 6vw;
}

h2 {
	text-align: center;
}

h3 {
	color:black
}

.writing {
	padding-left: 15px;
	padding-right: 15px;
}

ul {
	
}

.navbar_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: 5px;
}
.navbar_li {
	
}

/* Table styles*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
	text-align: center;
	padding: 10px;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

tr:hover {background-color: #369200;}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 10px;
	text-decoration: none;

}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #369200;
}

p {
  	color: black;
}

.speciesSelector {
	position: relative;
	font-family: Arial;
	background: white;
}

.newMapButton {
	cursor: pointer;
}

@media screen and (max-width: 500px) {

}

#column_wrapper{
	width: 100%;
	position: relative;
	bottom: 0;
  left: 0;
  display: table;
	overflow: auto;
	margin: auto;
	
}

.date_list_holder.after{
    content: "";
    display: table;
    clear: both;
    margin:auto;
}
caption{
    font-size:25px;
}

.column{
    float:left;
    width:50%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
  #left_col {
	float: left;
	min-width: 100%;
  }
  #right_col {
	  float: left;
	  min-width: 100%;
	  margin: auto;
  }
	#right_col_map {
	  float: left;
	  min-width: 100%;
	  margin: auto;
  }
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: gray;
	float:left;
	width: 100%;
	text-align-last: center;

}